<h2>Available Jobs</h2>

<a href="{% url 'logout' %}">Logout</a>
    {% csrf_token %}
    <button type="submit">Logout</button>


{% for job in jobs %}

<div style="border:1px solid black; padding:10px; margin:10px;">

<h3>{{ job.title }}</h3>

<p>{{ job.description }}</p>

<p><b>Location:</b> {{ job.location }}</p>

<p><b>Salary:</b> {{ job.salary }}</p>

{% if job.id in applied_jobs %}

<button disabled>Applied</button>

{% else %}

<a href="{% url 'apply_job' job.id %}">
<button>Apply job</button>
</a>

{% endif %}

</div>

{% endfor %}
</div>
