<!DOCTYPE html>
<html>
<head>
    <title>Jobs</title>
    <input type="text" name="location" placeholder="Location">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container">

<h1 class="mt-4">Available Jobs</h1>

<div style="border:1px solid gray; padding:10px; margin:10px">

<form method="GET" class="mb-4">

<input type="text" name="search" placeholder="Search Jobs">
<input type="text" name="location" placeholder="Location">


<button type="submit" class="btn btn-primary">Search</button>

</form>

{% for job in page_obj %}

<div class="card mt-3">

<div class="card-body">

<h4>{{ job.title }}</h4>

<p>{{ job.description|truncatewords:25 }}</p>

<p><b>Location:</b> {{ job.location }}</p>

<p><b>Salary:</b> {{ job.salary }}</p>

<a href="{% url 'apply_job' job.id %}" class="btn btn-primary">
Apply Job
</a>

</div>
</div>

{% empty %}
<p>no jobs available</p>

{% endfor %}


<div class="mt-4">

{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}

</div>

</div>

</body>
</html>
